@charset "UTF-8";
p {
	line-height: normal;
}
.head-wrapper {
	margin: 8px 20px;
}

.head {
    border-left: 3px solid #43B498;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 11px;
    color: #999999;
}

.head>span:nth-child(2) {
	color: #43B498;
}

.content-wrapper {
    margin: 20px 30px 20px 30px;
}

.screen {
    height: 80px;
    background: rgba(241,241,241,1);
    border: 1px solid rgba(222,222,222,1);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    font-size: 14px;
}

.screen-item {
	display: flex;
    align-items: center;
}

.screen-item>span{
	color: #BBBBBB;
	margin-right: 10px;
	flex-shrink: 0;
}

.screen .el-input__inner {
	height: 34px;
	line-height: 34px;
    padding-left: 10px;
}

.screen .el-input__icon {
	line-height: 34px;
}

.screen .el-input__prefix {
	display: flex;
    align-items: center;
    right: 5px;
    left: auto;
}

.screen .el-icon-date {
	height: auto;
}

.screen .screen-item:nth-child(n+2) {
	margin-left: 20px;
}

.table-bottom {
    margin: 20px 0 20px 0;
}

/**********搜索输入框样式**************/
.search-input input {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
    border-radius: 17px;
}

.search-input .el-input__suffix {
    display: flex;
    align-items: center;
}

.search-input .el-input__suffix-inner {
    color: #43B498;
    font-size: 20px;
}

.text-success {
	color: #67C23A;
}

.text-danger {
	color: #F56C6C;
}
/*******************单选样式*****************************/
.custom-radio-group .el-radio-button__orig-radio:checked+.el-radio-button__inner {
	background: #43B498;
	border-color: #43B498;
}

.custom-radio-group .el-radio-button__inner:hover {
	color: #43B498;
}

.text-btn {
	outline: none;
	background: none;
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	font-size: 14px;
}

.text-btn > i {
	margin-right: 1px;
}

.text-btn:active {
	opacity: 0.6;
}

.table-bottom__left {
	position: absolute;
	top: 0;
	left: 0;
}

.timing-item-box {
	width: 100%;
}

.timing-item-box + .timing-item-box {
	margin-top: 27px;
}

.timing-item {
	background: #F8F9FA;
	margin-top: 8px;
	padding: 10px;
	border-radius: 6px;
	color: #333;
}

.timing-item__checkbox {
	display: flex;
	align-items: center;
	margin-top: 19px;
	padding-left: 5px;
}

.timing-item__checkbox .el-checkbox {
	margin-right: 20px;
}

.timing-date__checkbox {
	position: relative;
}

.timing-date__checkbox .el-date-editor {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

.timing-date__checkbox .el-date-editor .el-input__inner {
	cursor: pointer;
}

.timing-item__checkbox .el-checkbox__inner {
	background-color: #DCDFE6;
	border-color: #DCDFE6;
}

.timing-item__single {
	height: 39px;
}

.timing-item__single input {
	width: 100%;
	height: 100%;
	outline: none;
	border: none;
	background: none;
}

.timing-item__single .el-date-editor--time .el-input__inner {
	cursor: pointer;
}

.timing-item__single .el-date-editor--time.el-input--prefix .el-input__inner {
	padding-left: 0;
}

.timing-select {
	
}

.timing-select .el-input__inner {
	height: 34px !important;
	line-height: 34px;
	padding: 0 10px;
	border-radius: 4px;
	border:1px solid rgba(222,222,222,1);
}

.timing-select:hover .el-input__inner {
	border-color: rgba(222,222,222,1);
}

.timing-select .el-input.is-focus .el-input__inner {
	border-color: rgba(222,222,222,1);
}

.status-box {
    display: flex;
    align-items: center;
    width: auto;

}

.status-box>span {
    display: inline-block;
    padding: 1px 6px;
    border-radius: 2px;
}

.status-box.flashing > span {
	background: rgba(255, 0, 0, .3);
	color: rgba(255, 0, 0, .8);
}

.status-box.flashing {
	animation: flashing 1.5s infinite ease-in-out;
}

.status-box.active::before {
    background: #43B498;
}

.status-box.active>span {
    background: none;
    color: inherit;
}

.status-box::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #dc3545;
    margin-right: 4px;
}

@keyframes flashing {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.padding-label {
    display: inline-block;
    width: 100%;
    text-align: justify;
    text-justify: distribute-all-lines;
    -moz-text-align-last: justify;
    text-align-last: justify
}

/*******************日志*****************************/
.log-dialog {}

.log-dialog .el-dialog {
    overflow: hidden;
}


.log-dialog .el-dialog__header {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ecebeb;
}

.log-dialog .el-dialog__header .el-dialog__title {
    display: inline-block;
    position: relative;
    z-index: 10;
}

.log-dialog .el-dialog__header .el-dialog__title::after {
    position: absolute;
    background: rgba(67, 180, 152, 0.6);
    content: "";
    width: 100%;
    height: 6px;
    left: 0;
    bottom: 2px;
    z-index: -1;
}

.log-dialog .el-dialog__headerbtn {
    background: #D3D3D3;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    padding: 4px;
}

.log-dialog .el-dialog__headerbtn .el-dialog__close {
    color: white;
    font-size: 18px;
}

.log-dialog .el-dialog__body {
    padding: 0;
}

.log-dialog__body {
    padding: 30px 50px 50px 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    min-height: 400px;
}

.log-dialog__footer-btn {
    width: 100%;
    height: 50px;
    background: #43B498;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
}

.log-dialog__footer-btn:hover {
    background: #52c1a6;
}

.log-dialog__footer-btn:active {
    background: #229478;
}

.log-dialog__footer-wrapper {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #DEDEDE;
}

.log-dialog__footer-wrapper .el-button {
    padding: 10px 36px;
}

.log-tabs {
    width: 100%;
}

.log-tabs.el-tabs--card>.el-tabs__header {}

.log-tabs .el-tabs__item.is-active {
    color: white;
    background: #43B498;
}

.log-tabs .el-tabs__item.is-active:hover {
    color: white;
}

.log-tabs .el-tabs__item:hover {
    color: #43B498;
}

.log-pane {
    width: 100%;

}

.log-pane__header {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.log-date-picker.el-date-editor--datetimerange.el-input,
.log-date-picker.el-date-editor--datetimerange.el-input__inner {
    width: 340px;
    border-radius: 1px;
}

.log-search-group {
    width: 240px;
    height: 32px;
    border: 1px solid rgba(222, 222, 222, 1);
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.06);
    border-radius: 17px;
    background: white;
    overflow: hidden;
    padding: 2px 40px 2px 20px;
    position: relative;
    background: white;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.log-search-group::after {
    content: "";
    position: absolute;
    right: 10px;
    width: 17px;
    height: 17px;
    top: calc(50% - 9px);
    background-image: url("../../images/energy/icon-search.png");
    background-size: 100% 100%;
}

.log-search-group>input {
    width: 100%;
    height: 100%;
    border: none;
    color: #666;
    font-size: 14px;
}

.log-search-group>input::placeholder {
    color: #AAAAAA;
}

.log-pane__body {
    margin-top: 20px;
}

.log-table th {
    background: #43B498;
}

.log-table th .cell {
    color: white;
}

.log-table .el-button--danger:focus,
.log-table .el-button--danger:hover {
    background: #f78989;
    border-color: #f78989;
    color: #FFF;
}

.log-table .el-button--danger.is-active,
.log-table .el-button--danger:active {
    background: #dd6161;
    border-color: #dd6161;
    color: #FFF;
}

.log-pagination.is-background .el-pager li {
    height: 34px;
    line-height: 34px !important;
    width: 40px;
    margin: 0 !important;
    color: #999999;
    font-size: 13px;
    font-weight: normal;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    border-radius: 0 !important;
    background: white;
}

.log-pagination.is-background .el-pager li:hover {
    color: #43B498 !important;
}

.log-pagination button {
    height: 34px;
    line-height: 34px !important;
    width: 40px;
    margin: 0 !important;
    background: white !important;
}

.log-pagination .btn-prev {
    border: 1px solid #DEDEDE;
    border-radius: 4px 0 0 4px !important;
}

.log-pagination .btn-next {
    border: 1px solid #DEDEDE;
    border-left: none;
    border-radius: 0 4px 4px 0 !important;
}

.log-pagination.is-background .el-pager li:not(.disabled).active {
    border: 1px solid #43B498;
    background: #43B498;
    border-radius: 4px !important;
    box-shadow: 0px 0px 10px 0px rgba(67, 180, 152, 0.4);
}

.log-pagination.is-background .el-pager li:not(.disabled).active:hover {
    color: white !important;
    background: #43B498 !important;
    border: none;
}

.log-pane__footer .page-size__wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
    height: 100%;
    top: 0;
}

.log-pane__footer .page-size__group .el-radio-button__inner {
    padding: 9px 12px;
}

.log-pane__footer .page-size__group .el-radio-button__orig-radio:checked+.el-radio-button__inner {
    box-shadow: 0px 0px 10px 0px rgba(67, 180, 152, 0.4) !important;
}

.log-pane__footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.log-pane__info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    max-width: calc(100% - 500px);
    display: flex;
    overflow: hidden;
    color: #888;
    z-index: 10;
}

.log-pane__info>p {
    margin: 0;
    white-space: nowrap;
}

.log-pane__info label {
    color: #aaa;
}

.log-pane__info label i {
    margin-right: 2px;
}

.log-pane__info>p+p {
    margin-left: 30px;
}

.log-pane-tab__wrapper {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #E4E7ED;
}

.log-radio-group {}

.log-radio-group .el-radio-button:last-child .el-radio-button__inner {
    border-radius: 0 4px 0 0;
}

.log-radio-group .el-radio-button:first-child .el-radio-button__inner {
    border-radius: 4px 0 0 0;
}

.log-radio-group .el-radio-button__orig-radio:checked+.el-radio-button__inner {
    background-color: #43B498;
    border-color: #43B498;
    color: white !important;
}

.log-radio-group .el-radio-button__inner:hover {
    color: #43B498;

}

.log-radio-group .el-radio-button__inner {
    border-bottom: none;
}

.log-pane__footer .operate-wrapper {
	position: absolute;
	display: flex;
	align-items: center;
	left: 0;
	top: 50%;
    transform: translateY(-50%);
}

.log-pane__footer .el-button--danger:hover, .log-pane__footer .el-button--danger:focus {
	background: #f78989;
    border-color: #f78989;
    color: #FFF;
}

.el-tooltip__popper {
    max-width: 50vw;
}

.station-option {
	display: flex;
	justify-content: space-between;
}

.station-option > div:first-child {
	max-width: 50%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.station-option > div:nth-child(2) {
	display: flex;
	align-items: center;
	max-width: 48%;
	overflow: hidden;
	font-size: 12px;
	font-weight: normal;
	color: #999;
}

.el-select-dropdown__item.selected .station-option > div:nth-child(2) {
	color: white;
}